#my-parent-container {
  position: relative;
  bottom: 0%;
  left: 0%;
}

#my-button, #my-second-button {
  font-family: 'Arial Black', sans-serif;
  padding: 0px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  margin-top: 0px;
  width: 150px;
  height: 150px;
  display: inline-block;
  text-align: center;
  line-height: 150px;
}

#my-button {
  background-color: #000000;
  color: white;
  left: 0%;
  margin-left: 0;
}

#my-second-button {
  background-color: #ff0000;
  color: white;
  left: 0%;
  margin-left: 175;
